.home-container {
    margin-top: 20px;
}

.toggle-button {
    margin-left: 50px;
    margin-top: 30px;
    padding: 5px 10px;
    background-color: #00274d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 320px;
    height: 60px;
    border-radius: 5px;
}

.introduction-text {
    margin-bottom: 20px;
}